@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.4);
}


#tablesContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    #tablesGrid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 3rem;

        .tableItem{
            @include box-shadow;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1rem;
            border-radius: 10px;

            .tableItem-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 1.5rem;

                i {
                    cursor: pointer;
                }

            }

            .tableItem-middle-title {
                margin: .5rem 0;
                font-weight: bold;
            }

            .buttons{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.3rem;

                .button{
                    background-color: var(--color-green);
                    max-width: 40%;
                    color: white;
                    padding: .5rem 1.25rem;
                    font-size: 1.2rems;
                    border-radius: 10px;
                    text-align: center;
                    cursor: pointer;
                }
            }
            
            &.available{
                background-color: var(--bg-green);
                
                i {
                    color: var(--color-green);
                }
            }

            &.occupied{
                background-color: var(--bg-purple);
                
                i {
                    color: var(--color-purple);
                }
            }

            &.reserved{
                background-color: var(--bg-pink);
                
                i {
                    color: var(--color-pink);
                }
            }
        }
    }
}