@mixin box-shadow {
    -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.2);
}

#tablesContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    #tablesGrid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem 3rem;

        .tableItem{
            @include box-shadow;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 1rem;
            border-radius: 4px;

            .tableItem-title{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: bold;
                font-size: 1.5rem;

                i {
                    cursor: pointer;
                }

            }

            .tableItem-middle-title {
                margin: .5rem 0;
                font-weight: bold;
            }

            .buttons{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.3rem;

                .button{
                    background-color: var(--color-green);
                    max-width: 40%;
                    color: white;
                    padding: .5rem 1.25rem;
                    font-size: 1.2rems;
                    border-radius: var(--button-border-radius);
                    text-align: center;
                    cursor: pointer;
                }
            }
            
            &.available{
                background-color: var(--bg-green);
                
                i {
                    color: var(--color-green);
                }
            }

            &.occupied{
                background-color: var(--bg-purple);
                
                i {
                    color: var(--color-purple);
                }
            }

            &.reserved{
                background-color: var(--bg-pink);
                
                i {
                    color: var(--color-pink);
                }
            }
        }
    }

    #tableEditForm{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);

        height: 60%;
        width: 80%;

        background-color: white;
        @include box-shadow;
        border-radius: 4px;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem;

        #tableEditFormHeader {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 30%;
            gap: .5rem;

            #tableEditFormHeader-info{
                grid-column: span 2;
                font-size: 1.5rem;
            }

            #tableEditFormHeaderSearch{
                position: relative;
                
                input {
                    width: 100%;
                    font-size: 1.2rem;
                    padding: .5rem .75rem;
                }

                #tableEditFormSearchList{
                    width: 100%;
                    position: absolute;
                    list-style-type: none;
                    top: 100%;
                    background-color: rgb(219, 219, 219);
                    border-radius: 4px;

                    .tableEditFormSearchList-item{
                        width: 100%;
                        display: flex;
                        padding: 0rem 1rem;
                        margin-top: .5rem;
                        justify-content: space-between;
                        align-items: center;

                        .tableEditFormSearchList-item-button{
                            cursor: pointer;
                            background-color: var(--color-green);
                            color: white;
                            padding: .25rem .75rem;
                            border-radius: 4px;
                        }
                    }

                    .tableEditFormSearchList-item:last-child {
                        margin-bottom: .5rem;
                    }
                }
            }

            #tableEditFormSearchButtons{
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                .tableEditFormSearch-button{
                    width: 100%;
                    border-radius: var(--button-border-radius);
                    cursor: pointer;
                    text-align: center;
                    margin-left: .5rem;
                    padding: .5rem .75rem;
                    background-color: var(--bg-secondary);
                    color: white;
                }
            }
        }

        #tableEditForm-displayList {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            list-style: none;

            padding: 1rem;

            .tableEditForm-displayList-item{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin-bottom: 1rem;
                font-size: 1.2rem;

                .tableEditForm-displayList-item-buttons{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span, i {
                        margin-left: 1rem;
                    }

                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #printReceiptContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;

        left: 50%;
        top: 5%;
        transform: translateX(-50%);

        z-index: 20;
        height: 80%;
        width: 60%;

        background-color: white;
        @include box-shadow;
        border-radius: 4px;

        padding: 2rem;

        #printReceiptHeader{
            font-size: 2rem;
            font-weight: 500;
            span {
                margin-left: .5rem;
            }
        }

        #printReceiptSubHeader{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 1rem;

            
            .printReceiptSubHeader-row{
                :nth-child(1) {
                    font-size: 1.2rem;
                    font-weight: 500;
                }

                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        #printReceiptList{
            list-style-type: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            margin-top: 2rem;

            li {
                width: 100%;
                display: grid;
                grid-template-columns: 5% 1fr 20% 25%;

                margin-bottom: .5rem;
                padding: 0rem .5rem;
                padding-bottom: .5rem;
                border-bottom: 1px solid black;
                
                :nth-last-child(1) {
                    text-align: right;
                }
                &.big{
                    font-weight: 500;
                    font-size: 1.1rem;
                }

                &.last{
                    grid-template-columns: 1fr 25%;
                }
            }
        }

        #receiptButtons{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 2rem;

            #receiptButton {
                width: max-content;
                border-radius: var(--button-border-radius);
                cursor: pointer;
                text-align: center;
                margin-left: .5rem;
                padding: .5rem .75rem;
                background-color: var(--bg-secondary);
                color: white;
            }
        }
    }
}