* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

  --button-border-radius: 4px;

  --bg-primary: #211c19;
  --bg-secondary: #f56d21;
  --bg-tertiary: #2a2b2e;

  --bg-green: #dcfce7;
  --bg-pink: #ffe2e5;
  --bg-purple: #f3e8ff;
  --color-green: #1edd60;
  --color-pink: #fa5b7e;
  --color-purple: #9f47ff;
  --color-red: #ff4747;

  --primary-color: whitesmoke;
  --secondary-color: black;
  --tertiary-color: #f56d21;
}
