#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    width: 20%;
    position: fixed;
    height: 100vh;
    background-color: var(--bg-primary);
    color: var(--primary-color);

    #title{
        font-size: 2rem;
        margin-bottom: 1.5rem;

        i{
            margin-right: 1rem;
        }
    }

    .sidebar-item{
        width: 100%;
        font-size: 1.5rem;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 1rem;
        padding: .5rem .75rem;

        &:hover{
            background-color: var(--bg-tertiary);
        }
        
        &.active{
            background-color: var(--bg-secondary);
        }
    }
}